.report-container {
    padding: 10px 20px;
    width: 100%;
}
.report-content {
    column-gap: 2rem;
    display: flex;
}
.report-content-left {
    flex: 6;
}
.report-content-right {
    flex: 4;
}